@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

:root {
    --primary-color: #90a9b7;
    --secondary-color: #d4aa7d;
    --accent1-color: #d2d8b3;
    --accent2-color: #272727;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #272727;
    --nav-link-color: #d2d8b3;
    --nav-hover-link-color: #d4aa7d;
    --nav-hover-background-color: #595959;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
    text-align: center;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-style: italic;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 10px auto;
}


header {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 10% 20% 10% 60%;
    grid-template-rows: 10px 1fr 10px;
    justify-content: center;
    align-items: center;
}

nav {
    grid-column-start: 4;
    display: flex;
    grid-row: 2/3;
}

header img {
    grid-column-start: 2;
    grid-row: 2/3;
    align-self: auto;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
    ;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    max-width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    background-color: rgba(39, 39, 39, .8);
    padding: 10px 0
}

.hero-box {
    position: absolute;
    background-color: rgba(144, 169, 183, .5);
    width: 80%;
    left: 9%;
    padding: 10px;
    top: 150px;
}

.hero-box p {
    width: 80%;
    color: white;
}

.hero-box img {
    float: right;
    position: relative;
    width: 20%;
}

.history {
    display: flex;
    text-align: center;
}

.history p {
    padding: 0 1rem;
    margin: 0;
}

.history img {
    width: 30%
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pics img {
    max-width: 150px;
    padding-top: 5px;

}

.pics figure {
    width: 160px;
    margin: 0px;
}

footer {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

footer p {
    width: 80%;
}

.socials {
    width: 20%;

}

.socials img {
    max-height: 2rem;
    justify-self: right;
}

/* Map CSS */

.map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.address {
    font-size: 1.25em;
}

#canvas-for-googlemap img {
    max-width: none !important;
    background: none !important;
    font-size: inherit;
    font-weight: inherit;
}

/* Workers */
.workers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.2em;
    padding: 1.5rem 0
}

.workers img {
    width: 250px;
}

/* Form CSS */

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.name-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 60%
}

.name-box input {
    height: 40px;
    font-size: 1.2em;
    padding: 3px;
}

.submit {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    
}

.button, button {
    background-color: var(--primary-color);
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin: 10px auto 10px 1px
}

.button:hover, button:hover {
    height: 41px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color)
}

.wireframe {

    color: var(--accent2-color);
}

.frame {
    overflow: hidden;
    max-width: 100%;
    width: 500px;
    height: 200px;
}

.frame-div {
    height: 100%;
    width: 100%;
    max-width: 100%
}

.frame-main {
    height: 100%;
    width: 100%;
    border: 0
}

/* trips css */

.cta {
    display: flex;
    margin: 2vh auto;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.assert{
    color: var(--nav-background-color)
}

.book{
    color: var(--accent2-color);
    background-color: var(--accent1-color);
}

.cards{
    display: flex;
    min-height: 35vh;
    margin: 0 auto;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price {
    height: 4vh;
    width: 50px;
    position: relative;
    top: -2vh;
    background-color: var(--nav-link-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pecos{
    background-image: url("../images/pecosriver.jpeg");
    background-size: cover;  
}

.brazos{
    background-image: url("../images/brazos.jpg");
    background-size: cover;
}

.devils{
    background-image: url("../images/devils.jpg");
    background-size: cover;
}
.card{
    display:flex;
    min-height: 40vh;
    width: 250px;
    flex-direction: column;
    margin: 2vh auto;
    padding: 20px;
    padding-top: 0;
    text-align: left;
}

.card a, .contact  {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    padding: 1vh;
    
}
.book{
    color: var(--nav-background-color);
    background-color: var(--accent1-color);
    padding: 1vh;
    margin: 3px;
}


.trip-info p {
    min-height: 10vh;
    background-color: rgba(39, 39, 39, .5);
    color: white;
    padding: 1vh;
    
}
.card h4, .banner form {
    background-color: rgba(39, 39, 39, .8);
    padding: 1vh;
}

.bottom{
    position: relative;
    top: 3vh;
}

.bottom:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.shadow{
    border: 1px solid black;
}

table {
    width: 100%;
    font-size: 1.1em;
    background-color: var(--nav-background-color);
    color: lightgray;
}
th {
    padding: 2px;
    background-color: var(--accent1-color);
    color: var(--nav-background-color)
}
th, td{
    border: 1px solid var(--nav-background-color);

}
tbody{
    background-color: var(--nav-background-color);
}

.index-btn {
    background-color: var(--primary-color);
    color: black;
    padding: 4px;
    width: 100px;
    

}


/* Home Page */

.banner {
    background-image: url("../images/home-banner-cut.jpg");
    background-size: cover;
    height: 35vh;
    display: flex;

}
.banner div{
    color: white;
    margin-top:2vh;
    width: 100%;
}
.purpose{
    display: grid;
    height: 35vh;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
}
.grid-card1 {
    grid-area: 2 / 3 / 15 / 11;
    background-image: url("../images/left-home.jpg");
    background-size: cover;
}

.grid-card2 {
    grid-area: 2 / 12 / 15 / 20;
    background-image: url("../images/right-home.jpg");
    background-size: cover;
}
.home-card {
    background-color: rgba(39, 39, 39, .5);
    padding: 1vh;
    margin: 0 auto;
    color: white
}
.rule-change{
    width: 250px;
    background-color: var(--nav-background-color);
    position: relative;
    top: 2.5vh
}
.review {
    margin: 5vh auto;
    height: 25vh;
    display: flex;

}
.review img {
    padding: 2vh;
}
.review div{
    padding: 5vh;
    font-size: 18px;
}
.push-down{
    margin-bottom: 4vh;
}