@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");

:root {
	--primary-color: #90a9b7;
	--secondary-color: #d4aa7d ;
	--accent1-color:#d2d8b3;
	--accent2-color: #272727;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #272727;
    --nav-link-color: #d2d8b3;
    --nav-hover-link-color: #d4aa7d;
    --nav-hover-background-color: #595959;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: auto;
    text-align: center;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    font-style: italic;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 10px auto;
}


header {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 10% 20% 10% 60%;
    grid-template-rows: 10px 1fr 10px;
    justify-content: center;
    align-items: center;
}

nav {
    grid-column-start: 4;
    display:flex;
    grid-row: 2/3;
}

header img {
    grid-column-start:2;
    grid-row: 2/3;
    align-self: auto;
    border-radius: 50px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    max-width: 100%;
    height: auto;

}
.hero h1 {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    background-color: rgba(39, 39, 39, .8);
    padding: 10px 0
}
.hero-box {
    position: absolute;
    background-color: rgba(144, 169, 183, .5);
    width: 80%;
    left:9%;
    padding: 10px;
    top: 150px;
}
.hero-box p {
    width: 80%;
    color: white;
}
.hero-box img {
    float: right;
    position: relative;
    width: 20%;
}

.history{
    display: flex;
    text-align: justify;
}
.history p{
    padding: 0 1rem;
    margin: 0;
}
.history img {
    width:30%
}

.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pics img{
    max-width:150px;
    padding-top: 5px;

}

.pics figure{
    width: 160px;
    margin: 0px;
}

footer{
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

footer p{
    width: 80%;
}

.socials{
    width: 20%;
    
}

.socials img{
    max-height: 2rem;
    justify-self: right;
}

/* Map CSS */

.map{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.address{
    font-size: 1.25em;
}
#canvas-for-googlemap img {
    max-width: none !important;
    background: none !important;
    font-size: inherit;
    font-weight: inherit;}

/* Workers */
.workers{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.2em;
    padding: 1.5rem 0
}

.workers img{
    width: 250px;
}

/* Form CSS */

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
}
.top-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.name-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 60%
}

.name-box input{
    height: 40px;
    font-size: 1.2em;
    padding: 3px;
}
.submit{
    display: inline-block;

}
.button{
    width:40%;
    height: 40px;
    font-size: 1em;
    margin: 10px auto
}
.wireframe {
    text-decoration: none;
    color: steelblue;
}